<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="'Twitter: ' + ${user.username}">Twitter</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" media="all" href="http://www.w3schools.com/lib/w3.css" th:href="@{http://www.w3schools.com/lib/w3.css}" />
	</head>
	<body>
		<div class="w3-container w3-display-middle w3-red w3-bottombar w3-border-red ">
			<div>
				<h3>Simple Twitter Reader - ERROR!</h3>

				<i><p th:text="'@' + ${user.username} + ' timeline'"></p></i>
				<p th:text="${error}"></p>
				<a class="w3-btn w3-red w3-hover-black w3-round-large w3-btn-block" th:href="@{/getuser?username=JAVA}">Back to default</a>

			</div>
		</div>
	</body>
</html>